:root {
    --lighter-gray : rgb(128 128 128);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding-top: 60px;
    background-color: black;
    color: white;
}

header {
    
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.63);
}

nav,
.left-side,
.middle,
.search-div,
.right-side,
.create,
.search-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 40px;
}

.left-side {
    
}

.hamburger-menu {
    height: 35px;
    margin-left: 20px;
}

.youtube-logo {
    height: 25px;
    margin-left: 15px;
}

.middle {

}

.search-div {
    background-color: var(--lighter-gray);
    border-radius: 200px;
}

.search-input {
    width: 400px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    background-color: rgb(41, 41, 41);
    color: white;
}

.search-input::placeholder {
    padding-left: 10px;
}

.search-button {
    height: 25px;
    padding: 0 20px;
}

.voice-search-icon {
    height: 30px;
    padding: 5px 5px;
    background-color: var(--lighter-gray);
    border-radius: 20px;
    margin-left: 20px;
}

.right-side {
    display: flex;
}

.right-side img {
    height: 30px;
    padding: 5px 5px;
}

.create {
    display: flex;
    height: 40px;
    border-radius: 20px;
    background-color: var(--lighter-gray);
    border: none;
    color: white;
    padding: 0 10px;
}

.create p {
    font-size: 40px;
    padding: 0;
    margin: 0;
    margin: 0 5px;
}

.notifications {
    margin-left: 10px;
}

.profile-pic {
    margin: 0 10px;
    border-radius: 20px;
    background-color: gray;
}